<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form>
      name: <input type="text" name="name" required>
      surname:<input type="text" name="surname" required>
      telefon:<input type="text" name="telefon" required>
      <button type="submit">Send</button>

      <div class="answer"></div>
     
      <button type="submit">
        <a href="http://127.0.0.1:3000/users" class="btn">All users</a>
      </button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
