<!DOCTYPE html>
<html>
  <head>
    <title>users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form>
      <table>
        <tr>
          <td>id:</td>
          <td>name:</td>
          <td>surname:</td>
          <td>telefon:</td>
        </tr>
        <tr>
    
        </tr>
      </table>
         
      <button type="submit">Send</button>

      <div class="answer"></div>
     
      <button type="submit">
        <a href="http://127.0.0.1:3000" class="btn">Start pages</a>
      </button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
